.main-header {
    position: fixed;
    background-color: $clr5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid $clr2;
    padding: 10px;
    min-height: 5vh;
    width: 100%;
    z-index: 1;
    .logo {
        font-family: billabong;
        font-size: 2rem;
    }
    a,
    link {
        text-decoration: none;
        color: $clr1;
        & :hover {
            color: $clr2;
        }
    }
    ul {
        // transform: translate(60px);
        margin: 0;
        padding: 0;
        width: 200px;
        min-width: 130px;
        display: flex;
        justify-content: space-around;
        li {
            img {
                height: 22px;
                width: 22px;
                object-fit: cover;
            }
        }
        a {
            position: relative;
        }
    }
    .navbar-profile-pic{
        border-radius: 50%;
    }
    .header-search-section {
        // transform: translate(50px);
        padding: 3px;
        border: 1px solid $clr3;
        
        input {
            text-align: center;
            padding-left: 5px;
            outline: none;
            background-color: $clr4;
            border: none;
        }
        span {
            background-color: $clr4;
            color: $clr2;
        }
        & :focus {
            text-align: start;
        }
    }
}




@include for-wide-layout {
    .main-header {
        
        .header-search-section {
            transform: translate(50px);
        }
        ul {
        transform: translate(60px);

        }
    }
}
@include for-normal-layout {
    .main-header {
        
        .header-search-section {
            transform: translate(50px);
        }
        ul {
        transform: translate(60px);

        }
    }
}

@include for-mobile-layout {
    .main-header {
        flex-direction: column;
        .header-search-section {
            transform: translate(0px);
            order: 1;
            padding-bottom: 3px;
            display: flex;
        }
        ul {
            transform: translate(0px);
            margin: 5px 0px 5px 0px;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
        }
    }
}