.incard-img-preview {
    @include aspect-ratio(1, 1);
    img {
        height: 100%;
        object-fit: cover;
    }
}

.post-preiew-card {
    padding: 0;
    background-color: $clr5;
    border: 1px solid $clr3;
    .incard-header {
        border-bottom: 1px solid $clr3;
        min-height: 40px;
        .user-pic-name {
            padding: 5px 5px 0px 5px;
            display: flex;
            align-items: center;
            font-weight: bold;
            img {
                padding: 0 10px;
                height: 30px;
                border-radius: 50%;
            }
        }
    }
    .write-comment {
        display: flex;
        border-top: 1px solid $clr3;
        min-height: 50px;
        input {
            border: none;
        }
    }
    .shortcuts-bar {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 5px 5px 0px 5px;
        li {
            ul {
                padding-left: 0;
                display: flex;
                li {
                    padding: 0 10px;
                }
            }
        }
    }
    .post-description {
        padding: 5px 5px 10px 10px;
        span {
            font-weight: bold;
        }
        .comments-box {
            padding-left: 5px;
        }
    }
}