.add-post-container {
    
        position: relative;
        text-align: center;
        padding-top: 100px;
        top: 8vh;

    .add-navigation {
      top: 200px;
        button {
            border-radius: 2px;
            height: 30px;
            border: 1px solid $clr3;
            background: $clr5;
            cursor: pointer;
            &:hover {
                background: rgba($clr6,0.85);
                color: $clr5;
           
            }
         
        }
      
    }

}



