.profile-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
    top: 9vh;
         .profile-user-name{
             font-size: rem(24px);
             justify-self: start;
             margin-bottom: 0;
         }
        .profile-user-pic{
            height: 150px;
            width: 150px;
            .profile-pic {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
            
        }
        @include for-mobile-layout {
            top: 19vh;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    
}

.add-post-container {
    display: flex;
justify-content: space-between;
    position: relative;
    .add-navigation {
        top: 200px;
        a {
            display: inline-block;
              text-decoration: none;
        }
        .add-button {
            margin: 20px 20px  0 20px;
            border-radius: 2px;
            height: 30px;
            border: 1px solid $clr3;
            background: $clr5;
            cursor: pointer;
            &:hover {
                background: rgba($clr6, 0.85);
                color: $clr5;
            }
        }
    }
}

